:root{
    font-size: 40%; 
    /* modificar as medidas rem */
}

#page-landing{
    background: var(--color-primary);
}

#page-landing #container{
    color: var(--color-text-in-primary);
    /* alterar cor da fonte de dentro do container */
}

.logo-container{
    text-align: center;
    margin-bottom: 3.2rem;
}

.logo-container img{
    height: 10rem;
    /* alterar tamanho imagem */
}
.logo-container h2{
   font-weight: 500;
   font-size: 3.6rem;
   line-height: 4.6rem; /*altura da linha*/
   margin-top: 0.8rem;
}

.hero-image{
    width: 100% ;
    /* esta imagem está dentro do container */
}